body {
  color: #fad7d9; 
  background-color: #0c0c0c;
  background-image: linear-gradient(to bottom right, #0c0c0c, #272727);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding: 40px 200px;
  max-width: 600px;
  margin: 0 auto;
}

#logo {
  color: #5394b8; 
  font-family: 'Righteous', sans-serif;
  font-size: 6vw;
}

#tagLine {
  color: #c8e3f2;
  font-size: 3vw; 
  font-family: 'Jura', serif;
}

#letsPlayButton {
  background-image: linear-gradient(to right, #357aa1, #35564c);
  color: #c8e3f2;
  border: 5px;
  border-color: #2e2e47;
  border-radius: 30px; 
  padding: 10px 30px;
  font-family: 'Jura', serif;
  font-size: 4vw; 
 
}

@media (max-width: 600px) {
  #logo {
    font-size: 30px;
  }
  #letsPlayButton {
    width: 100px;
    font-size: 20px
  }
}
@media (min-width: 1100px) {
  #logo {
    font-size: 70px;
  }
  #letsPlayButton {
    width: 300px; 
    font-size: 50px
  }
}

#homeLogo {
  color: #8574ab; 
  font-family: 'Righteous', sans-serif;
  font-size: 12vw;
  max-width: 500px;
  white-space: nowrap;
}

.homepagebuttons {
  display: grid;
  grid-template-rows: 1fr .25fr 1fr .25fr 1fr;
  align-items: center;
}



#startGameButton {
  background-image: linear-gradient(to bottom right, #b2a6ce, #85bbd9);
  border: 5px; 
  border-color: #225b7b;
  border-radius: 25px; 
  padding: 10px 30px; 
  font-family: 'Playfair Display SC', serif;
  font-size: 5vw;
  column-gap: 30px;
  height: 100px;
}

#instructionsButton {
  background-image: linear-gradient(to bottom right, #b2a6ce, #85bbd9);
  border: 5px; 
  border-color: #225b7b;
  border-radius: 25px; 
  font-size: 5vw;
  padding: 10px 30px; 
  font-family: 'Playfair Display SC', serif;
  height: 100px; 
  min-width: 100px;
}

#homeButton {
  background-image: linear-gradient(to bottom right, #b2a6ce, #85bbd9);
  border: 5px; 
  border-color: #225b7b;
  border-radius: 25px; 
  font-size: 5vw;
  padding: 10px 30px; 
  font-family: 'Playfair Display SC', serif;
  column-gap: 30px;
  height: 100px;
}

@media (max-width: 600px) {
  #homeLogo {
    font-size: 50px;
  }
 .homepagebuttons {
    width: 300px;
    font-size: 3vw;
 }
}
@media (min-width: 1100px) {
  #homeLogo {
    font-size: 100px;
  }
  .homepagebuttons {
    width: 500px;
    font-size: 50px;
  }
}

.enterPlayers {
  display: inline-block
}

.gameboard {
  display: none
}

.scoreboard {
  display: none
}

.todOptions {
  display: inline;
}

.completeOrNah {
  display: none
}

#truthButton {
  display: inline;
}

#dareButton {
  display: inline;
}

#completedButton {
  display: none;
}

#forfeitButton {
  display: none
}

#nextTurnButton {
  display: none
}


