body {
  color: #fad7d9; 
  background-color: #0c0c0c;
  background-image: linear-gradient(to bottom right, #0c0c0c, #272727);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  max-width: 500px;
  margin: 0 auto
}

#logo {
  color: #5394b8; 
  font-family: 'Righteous', sans-serif;
  font-size: 6vw;

}

#tagLine {
  color: #c8e3f2;
  font-size: 3vw; 
  font-family: 'Jura', serif;
}

#letsPlayButton {
  background-image: linear-gradient(to right, #357aa1, #35564c);
  color: #c8e3f2;
  border: 5px;
  border-color: #2e2e47;
  border-radius: 30px; 
  padding: 10px 30px;
  font-family: 'Jura', serif;
  font-size: 4vw; 
 
}

@media (max-width: 600px) {
  #logo {
    font-size: 30px;
  }
  #letsPlayButton {
    width: 100px;
  }
}
@media (min-width: 1100px) {
  #logo {
    font-size: 70px;
  }
  #letsPlayButton {
    width: 300px; 
    font-size: 50px
  }
}

#bodyHome {
  align-content: center;
}

#homeLogo {
  color: #8574ab; 
  font-family: 'Righteous', sans-serif;
  font-size: 70px;
  white-space: nowrap;
}

.homepagebuttons {
  display: grid;
  grid-template-rows: 1fr .25fr 1fr .25fr 1fr .25fr;
  align-items: center;
}

#startGameButton , #instructionsButton , #homeButton{
  background-image: linear-gradient(to bottom right, #b2a6ce, #85bbd9);
  border: 5px; 
  border-color: #225b7b;
  border-radius: 25px; 
  padding: 10px; 
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 5vw;
  height: 100px;
}

@media (max-width: 600px) {
  #bodyHome {
    margin: 50px;
    text-align: center;
  }
  #homeLogo {
    font-size: 50px;
  }
 .homepagebuttons {
    width: 300px;
    font-size: 3vw;
    padding: 50px;
 }
}
@media (min-width: 1100px) {
  #homeLogo {
    font-size: 75px;
  }
  .homepagebuttons {
    width: 500px;
  }
  #startGameButton {
    font-size: 50px;
  }
  #instructionsButton {
    font-size: 50px;
  }
  #homeButton {
    font-size: 50px
  }
}

#intro {
  color:#121212;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 70px;
  background: linear-gradient(to bottom right, #dd9871, #e0c269);
  border: 5px #ac6b46;
}

.paragraph {
  font-family: 'Cinzel', serif;
  font-size: 20px;
}

#punishments {
  color: #c75b5f;
  font-weight: bold;
}

#startGameButtonTwo , #homeButtonFour {
  background-image: linear-gradient(to bottom right, #dd9871, #e0c269);
  border: 5px; 
  border-color: #ac6b46;
  border-radius: 25px; 
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  min-width: 225px;
  font-size: 40px;
}


@media (max-width: 600px) {
  #intro {
    font-size: 50px;
    margin: 20px;
  }
  .paragraph {
    font-size: 17px;
    margin: 20px
  }
}

.gameplay 

#gameplayLogo {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  font-size: 70px;
  white-space: nowrap;
  background-image:linear-gradient(to top left, #c75b5f, #5394b8);
  color: #121212;
  margin: 20px
}

#homeButtonThree {
  font-family: 'Alegreya Sans SC', sans-serif;
  background:  #85bbd9;
  color: #225b7b;
  opacity: .75;
  font-size: 20px;
  width: 500px;
  height: 30px;
  border: #225b7b;
  text-align: left
}

.playerNames {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  color: #5394b8;
}

#playerName {
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-image: linear-gradient(to bottom right, #fad7d9, #c8e3f2);
}

#enterPlayerButton {
  background-image:linear-gradient(to top left, #c75b5f, #5394b8);
  border: 5px; 
  border-color: #225b7b;
  padding: 10px; 
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  width: 150px;
}

#readyPlayButton {
  background-image:linear-gradient(to bottom right, #a64c50, #e9a4a7);
  border: 5px; 
  border-color: #225b7b;
  padding: 10px; 
  margin: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  border-radius: 20px;
  min-width: 400px;
}

.thePlayers {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.scores {
  font-family: 'Raleway', sans-serif;
  border-left: #e9a4a7;
}

#playerTurn {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

#insertQuestionHere {
font-family: 'Raleway', sans-serif;
font-size: 40px;
}

.enterPlayers {
  display: inline-block
}

.gameboard {
  display: none
}

.scoreboard {
  display: none
}

.todOptions {
  display: inline;
}

.completeOrNah {
  display: none
}

#truthButton {
  display: inline;
  background-image:linear-gradient(to bottom right, #225b7b, #c8e3f2);
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 220px;
  font-size: 35px;
  border: 2px #225b7b; 
}

#dareButton {
  display: inline;
  background-image:linear-gradient(to bottom right, #a64c50, #fad7d9);
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 220px;
  font-size: 35px;
  border: 2px #a64c50; 
}

#completedButton {
  display: none;
  background-image:linear-gradient(to bottom right, #a64c50, #fad7d9);
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 220px;
  font-size: 35px;
  border: 2px #a64c50; 
}

#forfeitButton {
  display: none;
  background-image:linear-gradient(to bottom right, #225b7b, #c8e3f2);
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 220px;
  font-size: 35px;
  border: 2px #225b7b; 
}

#nextTurnButton {
  display: none
}

#leaderboard {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #5394b8;
  margin: 10px;
  font-size: 20px
}

#leadOn {
  font-size: 30px
}

#playerScoreNames {
  display: grid;
  grid-template-columns: .5fr .5fr;
}

#thankYouNext {
  background-image:linear-gradient(to top left, #c75b5f, #5394b8);
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #121212;
  width: 200px;
  font-size: 40px;
  margin: 20px
}

@media (max-width: 600px) {
  #gameplayLogo {
    font-size: 50px;
  }
  .playerNames {
    font-size: 20px
  }
  #playerName {
    font-size: 12px;
    padding: 5px; 
  }
  #enterPlayerButton {
    font-size: 10px
  }
  #insertQuestionHere {
    font-size: 26px;
  }
}