body {
  color: #4d4d76; 
  background-color: #e3e9fe;
  text-align: center;
}

#logo {
  font-family: 'Lobster', cursive;
  font-size: 6vw 
}

#letsPlayButton {
  background-color: #4d4d76;
  color: #e3e9fe;
  border: 2px;
  border-color: #2e2e47;
  padding: 10px 30px;
  font-size: 5vw; 
}

.enterPlayers {
  display: inline-block
}

.gameboard {
  display: none
}

.scoreboard {
  display: none
}

.todOptions {
  display: inline;
}

.completeOrNah {
  display: none
}

#truthButton {
  display: inline;
}

#dareButton {
  display: inline;
}

#completedButton {
  display: none;
}

#forfeitButton {
  display: none
}
